/* product list */
*{
    margin: 0;
    padding: 0;
    font: normal 12px "Noto Sans CJK KR";
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #111;
}
input, textarea{
    outline: none;
}
#wrapper{width: 100%;}

header{
    width: 100%;
    height: auto;
}
header > div{
    width: 100%;
    box-sizing: border-box;
}
header > .top{
    height: 35px;
    border-bottom: 1px solid #e9e9e9;
}
header > .top > div{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    text-align: right;
}
header > .top > div > a{
    display: inline-block;
    height: 100%;
    line-height: 35px;
    border-left: 1px solid #e9e9e9;
    padding: 0 10px;
    color: #646464;
}
header > .top > div > a:last-child{    border-right: 1px solid #e9e9e9;}
header > .top > div > a:hover{
    color: #333;
    border-bottom: 1px solid #444;
}
header > .logo{
    border-bottom: 1px solid #e9e9e9;
    height: 100px;
}
header > .logo > div{
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
header > .logo a{
    display: inline-block;
    margin-top: 30px;
}
header > .logo form{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -185px;
    margin-top: -22px;
    display: inline-block;
    width: 370px;
    height: 45px;
}
header > .logo input{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 30px;
    box-sizing: border-box;
}
header > .logo button{
    position: absolute;
    right: 6px;
    top: 10px;
    border: none;
    background-color: white;
    font-size: 20px;
    color: #333;
}
header > .menu{
    height: 46px;
    background: #f2f2f2;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}
header > .menu > div{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}
header > .menu > div > ul{
    float: left;
}
header > .menu > div > ul:last-child {
    float: right;
}
header > .menu > div > ul > li{
    float: left;
    padding: 0 12px;
    border-right: 1px solid #e9e9e9;
    margin-top: 15px;
}
header > .menu > div > ul > li:first-child{
    border-left: 1px solid #e9e9e9;
}
header > .menu > div > ul > li > a{}

main{    
    width: 1200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

main > aside{
    float: left;
    width: 230px;
    height: auto;
}
main > aside > .category{
    position: relative;
    background: #333949;
    height: 400px;
    overflow: hidden;
}
main > aside > .category > li{
    color: white;
    border-bottom: 1px solid #2b313f;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 13px;
}
main > aside > .category > li i{
    margin-right: 15px;
    font-size: 16px;
}
main > aside > .category > li > a{
    color: #cccccc;
    font-size: 13px;
}
main > aside > .category > li > ol{
    display: none;
    position: absolute;
    left: 200px;
    top: 0;
    border: 1px solid black;
    width: 200px;
    height: 398px;
    background: white;
}
main > aside > .category > li > ol > li{
    margin: 10px;
}
main > aside > .category > li > ol > li > a{
    color: black;
}

#product > section{
    padding: 15px;
    box-sizing: border-box;
    float: right;
    width: 970px;
    height: auto;
}
#product > section > nav{
    border-bottom: 1px solid black;
    height: 37px;
}
#product > section > nav > h1{
    font-size: 18px;
    font-weight: bold;
    float: left;
}
#product > section > nav > p{
    float: right;
    margin-top: 13px;
}
#product > section > nav > p > span{}
#product > section > .sort{
    border-top: 2px solid black;
    box-sizing: border-box;
    border-bottom: 1px solid #dfdfdf;
    margin: 20px 0;
    height: 50px;
}
#product > section > .sort > li{
    float: left;
    margin-top: 15px;
}
#product > section > .sort > li > a{
    border-right: 1px solid #dfdfdf;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: center;
}
#product > section > .sort > li > .on{
    font-weight: bold;
}

#product > .list > table{
    width: 100%;
    border-collapse: collapse;
    border: 0;
}
#product > section > table tr{border-bottom: 1px solid #dfdfdf;}
#product > section > table tr > td:first-child{
    float: left;
    margin-right: 100px;
}
#product > section > table tr > td:nth-child(2){
    float: left;
}
#product > .list table tr td:last-child{
    color: black;
    font-weight: 100;
    text-align: left;
}
#product > section > table tr > td > .name{
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0 5px;
}
#product > section > table tr > td > ul{margin-top: -34px;}
#product > section > table tr > td > ul > li{padding: 0 0 1px;}
#product > section > table tr > td > ul > li > .dis-price{
    font-size: 17px;
    text-decoration: none;
}
#product > section > table tr > td > ul > li > .org-price{
    color: #aaaaaa;
}
#product > section > table tr > td > ul > li > .discount{
    color: red;
    font-size: 10px;
    font-weight: lighter;
}
#product > section > table tr > td > ul > li > .free-delivery{}
#product > section > table tr > td > .seller{
    margin: -25px 0 5px;
}
#product > section > table tr > td > .badge{
    margin-bottom: 10px;
}
#product > section > table tr > td > .rating{
    font-size: 11px;
}

#product > section > .paging{
    text-align: center;
}
#product > section > .paging > .prev{}
#product > section > .paging > .prev > a{
    color: #777777;
}
#product > section > .paging > .num{}
#product > section > .paging > .num > .on{
    font-weight: bold;
    color: red;
}
#product > section > .paging > .num > a{
    border: 1px solid #c4c4c4;
    padding: 5px 10px;
    margin: 2px;
    box-sizing: border-box;
}
#product > section > .paging > .next{}
#product > section > .paging > .next > a{
    color: #777777;
}

/* product view */
#product > .view > article{
    padding: 30px 10px 0;
    float: left;
}
#product > .view > .info{}
#product > .view > .info > .image{float: left;}
#product > .view > .info > .image > img{}

#product > .view > .info > .summary{
    float: right;
    width: 440px;
    margin-left: 20px;        
}
#product > .view > .info > .summary > nav{
    border-bottom: 1px solid #eaeaea;
    padding: 10px;
    box-sizing: border-box;
}
#product > .view > .info > .summary > nav > h1{
    font-size: 18px;
    font-weight: bold;
    color: #0231a6;
}
#product > .view > .info > .summary > nav > h2{
    color: #777777;
    position: absolute;
    top: 15px;
    right: 0;
}
#product > .view > .info > .summary > nav > h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
#product > .view > .info > .summary > nav > p{
    font-size: 13px;
  margin-bottom: 10px;
}
#product > .view > .info > .summary > nav > .rating{}
#product > .view > .info > .summary > nav > .rating > a{
    color: blue;
}
#product > .view > .info > .summary > nav > .org_price{
    margin-bottom: 10px;
}
#product > .view > .info > .summary > nav > .org_price > del{
    font-size: 18px;
    color: #aaabad;
}
#product > .view > .info > .summary > nav > .org_price > span{
    color: red;
    font-size: 15px;
    margin-left: 7px;
}
#product > .view > .info > .summary > nav > .dis_price{}
#product > .view > .info > .summary > nav > .dis_price > ins{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}
#product > .view > .info > .summary > nav > .delivery{
    display: inline-block;
    font-size: 15px;
    color: #2e8de5;
    width: 15%;
}
#product > .view > .info > .summary > nav > .arrival{
    font-size: 14px;
}
#product > .view > .info > .summary > nav > .desc{
    display: inline-block;
    width: 100%;
    color: #aaaaaa;
}
#product > .view > .info > .summary > nav > .card{padding: 0 25px;}
#product > .view > .info > .summary > nav > .cardfree{}
#product > .view > .info > .summary > nav > .card > i{display: none;}
#product > .view > .info > .summary > nav > .cardadd{}
#product > .view > .info > .summary > nav > .origin{font-size: 16px;}

#product > .view > .info > .summary > img{margin: 10px 0;}
#product > .view > .info > .summary > .count{}
#product > .view > .info > .summary > .count > button{
    background: white;
    border: 1px solid #a5a8ae;
    border-radius: 50%;
    width: 20px;
    font-size: 15px;
}
#product > .view > .info > .summary > .count > input{
    border: 1px solid #ececec;
    width: 30px;
    text-align: center;
    margin: 0 5px;
}
#product > .view > .info > .summary > .total{
    margin-top: 30px;
    float: right;
    width: 100%;
}
#product > .view > .info > .summary > .total > span{
    float: right;
    font-size: 25px;
    font-weight: bold;
}
#product > .view > .info > .summary > .total > em{
    float: right;
    margin-right: 20px;
    font-size: 16px;
    line-height: 2.5;
}
#product > .view > .info > .summary > .button{}
#product > .view > .info > .summary > .button > .cart{
    border: 1px solid #d9d9d9;
    text-align: center;
    height: 50px;
    width: 49%;
    float: left;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}
#product > .view > .info > .summary > .button > .order{
    width: 49%;
    height: 50px;
    border: 1px solid #d9d9d9;
    text-align: center;
    float: right;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    background: #2e8de5;
    color: white;
}

#product > .view > .detail{}
#product > .view > article > nav{
    border-bottom: 1px solid #a4a9b0;
    padding: 5px 0;
    margin-bottom: 10px;
    box-sizing: border-box;
}
#product > .view > article > nav > h1{
    font-size: 18px;
    font-weight: bold;
}
#product > .view > .detail > img{}

#product > .view > .notice{}
#product > .view > .notice > nav{}
#product > .view > .notice > nav > h1{display: inline;}
#product > .view > .notice > nav > p{
    display: inline;
    color: #a4a9b0;
}
#product > .view > .notice > table{
    width: 100%;
    border-bottom: 1px solid #ececec;
    padding: 0 20px;
    border-spacing: 10px;
}
#product > .view > .notice > table tr{}
#product > .view > .notice > table tr > td{
    font-size: 14px;
}
#product > .view > .notice > table tr > td:nth-child(2){
    color: #777777;
    width: 80%;
}
#product > .view > .notice > .notice{
    font-size: 14px;
    color: #757c8a;
    background: #fafafa;
    padding: 20px;
}

#product > .view > .review{}
#product > .view > .review > nav{}
#product > .view > .review > nav > h1{}
#product > .view > .review > ul{
    margin: 40px 5px;
}
#product > .view > .review > ul > li{
    margin-top: 20px;
    border-bottom: 1px solid #ececec;
    padding: 0 0 5px;
    box-sizing: border-box;
}
#product > .view > .review > ul > li > div{
    position: relative;
    margin-bottom: 8px;
}
#product > .view > .review > ul > li > div > .rating{}
#product > .view > .review > ul > li > div > span{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    color: #555555;
}
#product > .view > .review > ul > li > h3{
    margin-bottom: 8px;
}
#product > .view > .review > ul > li > p{
    font-size: 14px;
}

/* product cart*/
#product > section table{
    width: 100%;
    border-top: 2px solid black;
    margin: 20px 0;
    border-collapse: collapse;
}
#product > section table tr{
    border-bottom: 1px solid lightgrey;
}
#product > section table tr th{
    padding: 10px;
    text-align: center;
    font-size: 11px;
}
#product > section table tr th input{}
#product > section table .empty{display: none;}
#product > section table tr td{
    text-align: center;
}
#product > section table tr td:nth-child(2){
    width: 40%;
    text-align: left;
}
#product > section table tr td:last-child {
    color: red;
    font-weight: bold;
    text-align: center;
}
#product > section table tr td > article{
    padding: 5px;
    position: relative;
    box-sizing: border-box;
}
#product > section table tr td > article > a{}
#product > section table tr td > article > a > img{}
#product > section table tr td > article > div{
    position: absolute;
    top: 5px;
    left: 95px;
}
#product > section table tr td > article > div > h2{
    margin-bottom: 5px;
}
#product > section table tr td > article > div > h2 > a{}
#product > section table tr td > article > div > p{
    color: #777777;
}

#product > .cart .cartdelete{
    margin-top: 10px;
    width: 7%;
    background: white;
    border: 1px solid #bdbdbd;
    padding: 5px;
    box-shadow: 1px 1px 1px;
    box-sizing: border-box;
}

#product > .cart .total{
    width: 40%;
    float: right;
    margin-top: 10px;
    border: 1px solid lightgrey;
    padding: 20px;
    box-sizing: border-box;
}
#product > .cart .total > h2{
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    box-sizing: border-box;
}
#product > .cart .total > table{
    border: 0px !important;
}
#product > .cart .total > table tr{
    border: 0px !important;
}
#product > .cart .total > table tr > td{
    padding: 10px;
    font-size: 14px;
}
#product > .cart .total > table tr > td:nth-child(1){
    text-align: left !important;
}
#product > .cart .total > table tr > td:nth-child(2){
    text-align: right !important;
    color: black !important;
    font-weight: 100 !important;
}
#product > .cart .total > table tr:last-child > td:nth-child(1){
    font-size: 20px !important;
}
#product > .cart .total > table tr:last-child > td:nth-child(2){
    font-size: 20px !important;
    font-weight: bold !important;
    color: #ff006c !important;
}
#product > .cart .total > input{
    font-size: 25px;
    background: #e11818;
    color: white;
    border: 0px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

/* product order */
#product > #order .final{
    width: 40%;
    float: right;
    margin-top: 10px;
    border: 1px solid lightgrey;
    padding: 20px;
    box-sizing: border-box;
}
#product > #order .final > h2{
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    box-sizing: border-box;
}
#product > #order .final > table{
    border: 0px !important;
}
#product > #order .final > table tr{
    border: 0px !important;
}
#product > #order .final > table tr > td{
    padding: 10px;
    font-size: 14px;
}
#product > #order .final > table tr > td:nth-child(1){
    text-align: left !important;
}
#product > #order .final > table tr > td:nth-child(2){
    text-align: right !important;
    color: black !important;
    font-weight: 100 !important;
}
#product > #order .final > table tr:last-child > td:nth-child(1){
    font-size: 20px !important;
}
#product > #order .final > table tr:last-child > td:nth-child(2){
    font-size: 20px !important;
    font-weight: bold !important;
    color: #ff006c !important;
}
#product > #order .final > input{
    font-size: 25px;
    background: #e11818;
    color: white;
    border: 0px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
#product > #order article > h2{
    font-size: 14px;
    font-weight: bold;
    margin-top: 25px;
    border-bottom: 1px solid black;
    padding-bottom: 7px;
    box-sizing: border-box;
}
#product > #order article > h1{
    font-size: 14px;
    font-weight: bold;
    margin-top: 25px;
    border-bottom: 1px solid black;
    padding-bottom: 7px;
    box-sizing: border-box;
}

#product > #order .delivery{float: left;}
#product > #order .delivery > h1{}
#product > #order .delivery > table{
    border: 0px;
    margin: 20px 5px;
}
#product > #order .delivery > table tr{
    border: 0px;
}
#product > #order .delivery > table tr > td:nth-child(1){
    text-align: left;
    padding: 7px 0;
    width: 10%;
    box-sizing: border-box;
}
#product > #order .delivery > table tr > td:nth-child(3) > input{
    margin-left: -60px;
    background: #f0f4f9;
    border: 1px solid #acc0e0;
    color: #3371c9;
    padding: 3px 5px;
    box-sizing: border-box;
}
#product > #order .delivery > table tr > td > input{
    float: left;
    margin-left: 5px;
}
#product > #order .delivery > table tr > td > span{
    color: black;
    margin-left: 5px;
}
#product > #order .delivery > table tr:nth-child(4) input{width: 180%;}
#product > #order .delivery > table tr:nth-child(5) input{width: 180%;}

#product > #order .discount{
    float: left;
    width: 550px;
}
#product > #order .discount > div{            
    margin: 20px 5px;
}
#product > #order .discount > div > p{}
#product > #order .discount > div > p > span{}
#product > #order .discount > div > label{
    float: right;
    margin-top: -15px;
}
#product > #order .discount > div > label > input:nth-child(1){
    margin-right: 3px;
}
#product > #order .discount > div > label > input:nth-child(2){
    background: #f0f4f9;
    border: 1px solid #acc0e0;
    color: #3371c9;
    padding: 3px 5px;
    box-sizing: border-box;
}
#product > #order .discount > div > span{
    display: inline-block;
    margin-top: 5px;
    color: grey;
}

#product > #order .payment{
    float: left;
    width: 550px;
}
#product > #order .payment > div{
    margin: 20px 5px;
}
#product > #order .payment > div > span{
    color: #3a85c8;
}
#product > #order .payment > div > p{
    margin: 10px 0;
}
#product > #order .payment > div > p > label{
    margin-right: 20px;
}
#product > #order .payment > div > p > label > input{
    margin-right: 4px;
}

#product > #order .alert{
    float: left;
    width: 550px;
    background: #f7f7f7;
    padding: 8px;
}
#product > #order .alert > ul{}
#product > section .alert > ul > li{}
#product > section .alert > ul > li > span{
    display: inline-block;
    margin: 3px;
    color: #999999;
}

/* product complete */
#product > .complete > .message{
    padding: 30px;
}
#product > .complete > .message > h2{
    font-size: 30px;
    font-weight: bold;
    color: #555555;
    text-align: center;
}
#product > .complete > .message > p{
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

#product > .complete > article > h1{
    font-size: 14px;
    font-weight: bold;
    margin-top: 25px;
    box-sizing: border-box;
}
#product > .complete > article > table{
    margin-top: 5px;
}
#product > .complete > .info > table tr > th{
    padding: 10px 0;
}
#product > .complete > .info > table tr > td{
    padding-bottom: 5px;
}
#product > .complete > .info > table tr > td:nth-child(1){
    width: 45%;
}
#product > .complete > .info > table tr > td:nth-child(2){    
    width: 7%;
    text-align: center;
}
#product > .complete > .info > table tr > td:nth-child(5){
    width: 20%;
    text-align: right;
}
#product > .complete > article > table tr > td > article > img{
    float: left;
}
#product > .complete > article > table tr > td > article > div{
    text-align: left;
}
#product > .complete > .info > table .total{}
#product > .complete > .info > table .total > td{
    padding: 0;
}
#product > .complete > .info > table .total > td > table{
    margin: 0;
    border: 0;
    background: #f2f2f2;
}
#product > .complete > .info > table .total > td > table tr{
    border: 0;
}
#product > .complete > .info > table .total > td > table tr > td{
    color: black;
    width: 50%;
}
#product > .complete > .info > table .total > td > table tr > td:nth-child(1){
    text-align: right;
    padding: 10px;
}
#product > .complete > .info > table .total > td > table tr > td:nth-child(2){
    text-align: right;
    padding-right: 10px;
}

#product > .complete > .order > table tr > td:nth-child(1){
    background: #f2f2f2;
    padding: 10px 0 10px 10px;
    text-align: left;
    width: 17%;
}
#product > .complete > .order > table tr > td:nth-child(2){
    padding: 10px 0 10px 10px;
    color: black;
    font-weight: 100;
    text-align: left;
    width: 63%;
}
#product > .complete > .order > table tr > td:nth-child(3){
    background: #f2f2f2;
}
#product > .complete > .order > table tr > td:nth-child(4){
    background: #f2f2f2;
    color: black;
}
#product > .complete > .order > table tr > td:nth-child(4) > span{
    color: red;
    font-weight: bold;
}

#product > .complete > .delivery > table tr > td:nth-child(1){
    background: #f2f2f2;
    padding: 10px 0 10px 10px;
    text-align: left;
    width: 17%;
}
#product > .complete > .delivery > table tr > td:nth-child(2){
    padding: 10px 0 10px 10px;
    color: black;
    font-weight: 100;
    text-align: left;
    width: 63%;
}
#product > .complete > .delivery > table tr > td:nth-child(3){
    background: #f2f2f2;
}
#product > .complete > .delivery > table tr > td:nth-child(4){
    background: #f2f2f2;
    color: black;
}
#product > .complete > .delivery > table tr > td:nth-child(4) > span{
    color: red;
    font-weight: bold;
}
#product > .complete > .delivery > table tr > td:last-child{
    color: black;
    font-weight: 100;
    text-align: left;
    padding-left: 10px;
}

#product > .complete > .alert{
    width: 99%;
    background: #f7f7f7;
    padding: 8px;
}
#product > .complete > .alert > h1{margin-top: 10px;}

/*Footer*/
footer {
    width: 100%;
    height: auto;
    background-color: #f8f8f8;
    border-top: 1px solid #e9e9e9;
}
footer > div {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}
footer > div:first-child {
    text-align: center;
    padding: 10px 0;
}
footer > div:first-child > a {
    display: inline-block;
    text-align: center;
    font-size: 12px;
}
.footerlogo {
    overflow: hidden;
    border-top: 1px solid #e9e9e9;
    padding-top: 25px;
}
.footerlogo > img {
    float: left;
    margin-right: 14px;
}
.footerlogo > div {
    float: left;
    font-size: 12px;
    line-height: 10px;
    width: 26%;
    margin-left: 20px;
}
.footerlogo > div > span {
    display: inline-block;
    color: #464646;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 16px;
}
.footerlogo > div > p {color: #676767;}