<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>케이마켓</title>
    <link rel="stylesheet" th:href="@{/css/cs_style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script type="text/javascript">
    	$(function(){
    		$('ul').children('.lis:nth-child(n+4)').hide();
    		
    		$('.more').click(function(){
    			if($(this).text() == '더보기'){
    				$(this).parent().children('li:hidden').slideDown(200);
    				$(this).text('간단히 보기');
    			}else{
    				$(this).parent().children('.lis').slice(3,10).slideUp(200);
    				$(this).text('더보기');
    			}
    		});
    	});
    </script>
</head>
<body>
    <div id="wrap">
        <th:block th:replace="cs/_header.html  :: cs_header"></th:block>
        <main>
            <div class="list_nav">
                <div>
                    <p>홈 > 자주묻는질문</p>
                </div>
            </div>
            <div class="list">
                <th:block th:replace="cs/_cate.html  :: cs_faqGroup"></th:block>
                <div>
                    <p>[[${group}]]</p>
                    <span>가장 자주 묻는 질문입니다.</span>
                    <th:block th:each = "cate : ${cate}">
                    	<h4>[[${cate.cate}]]</h4>
	                    <ul class="faq_list">
	                    	<th:block th:each = "article, articleStat : ${articles}">
		                        <li class="lis" th:if = "${article.cate} eq ${cate.cate}" >
			                        <a th:href="@{/cs/faq/view(group=${group}, no=${article.no})}" ><span>Q.</span> [[${article.title}]] [[${count}]]</a>
		                        </li>
	                        </th:block>
                   			<li class="more" th:if="${cate.count > 3}">더보기</li>
	                    </ul>
                    </th:block>
                </div>
            </div>
        </main>
        <th:block th:replace="cs/_footer.html :: cs_footer"></th:block>
    </div>
</body>
</html>