<th:block th:include="@{admin/_header.html}"/>
<script>

	$(document).ready(function(){
		$('select[name=cate1]').change(function(){
			var cate1 = $(this).val();
			
			//alert('cate1 : ' + cate1);
			
			let jsonData = {'cate1' : cate1};
			
			$.ajax({
				url : '/Kmarket/admin/selectCate2',
				method : 'GET',
				data : jsonData ,
				dataType : 'json',
				success : function(data){
					$('select[name=cate2]').empty();
		               for(var value of data.result){
		                  let tag = "<option value='"+ value.cate2+"'>" + value.c2Name + "</option>";
		                  $('select[name=cate2]').append(tag);
		               }
				}
			});
		});
	});
			

</script>
<section class="register_section">
    <nav>
        <h3>상품등록</h3>
        <p>
            HOME > 상품관리 > <strong> 상품등록 </strong>
        </p>
    </nav> 
    <article class="register_article">
        <form th:action="@{/admin/product/register}" method="post" enctype="multipart/form-data">
            <section class="register_form_section">
                <nav>
                    <h4>
                        상품분류
                    </h4>
                    <p>
                        기본분류는 반드시 선택하셔야 합니다. 하나의 상품에 1개의 분류를 지정 합니다.
                    </p>
                </nav>
                <table>
                    <tr>
                        <td>1차분류</td>
                        <td>
                            <select name="cate1">
                            	<option value="">1차 분류 선택</option>
                            	<option th:each="cate1:${cate1}" th:value="${cate1.cate1}">[[${cate1.c1Name}]]</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>2차분류</td>
                        <td>
                            <select name="cate2">
                                <option>2차 분류 선택</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </section>
            <section class="register_info_section">
                <nav>
                    <h4>기본정보</h4>
                    <p>
                        기본정보는 반드시 선택하셔야 합니다.
                    </p>
                </nav>
                <table>
                    <tr>
                        <td>상품명</td>
                        <td>
                            <input type="text" name="prodName" placeholder="상품명을 입력해주세요.">
                        </td>
                    </tr>
                    <tr>
                        <td>기본설명</td>
                        <td>
                            <span>상품명 하단에 상품에 대한 추가적인 설명이 필요한 경우에 입력</span>
                            <input type="text" name="descript" placeholder="상품설명을 입력해주세요.">
                        </td>
                    </tr>
                    <tr>
                        <td>제조사</td>
                        <td>
                            <input type="text" name="company" placeholder="제조사를 입력해주세요.">
                        </td>
                    </tr>
                    <tr>
                        <td>상품금액</td>
                        <td>
                            <input type="number" name="price" placeholder="상품가격을 입력해주세요.">원
                        </td>
                    </tr>
                    <tr>
                        <td>할인율</td>
                        <td>
                            <span>0을 입력하면 할인율 없음</span>
                            <input type="number" name="discount" placeholder="할인율을 입력해주세요.">원
                        </td>
                    </tr>
                    <tr>
                        <td>포인트</td>
                        <td>
                            <span> 0을 입력하면 포인트 없음</span>
                            <input type="number" name="point" placeholder="포인트를 입력해주세요.">점
                        </td>
                    </tr>
                    <tr>
                        <td>재고수량</td>
                        <td>
                            <input type="number" name="stock" placeholder="재고수량을 입력해주세요.">개
                        </td>
                    </tr>
                    <tr>
                        <td>배송비</td>
                        <td>
                            <span>0을 입력하면 배송비 무료</span>
                            <input type="number" name="delivery" placeholder="배송비를 입력해주세요.">원
                        </td>
                    </tr>
                    <tr>
                        <td>상품 이미지</td>
                        <td>
                            
                            <input type="file" name="file1" style="display: block;">
                           <span>크기 190x190 상품 목록에 출력될 이미지입니다.</span>

                           <input type="file" name="file2" style="display: block;">
                           <span>크기 190x190 상품 목록에 출력될 이미지입니다.</span>

                           <input type="file" name="file3" style="display: block;">
                                <span>크기 190x190 상품 목록에 출력될 이미지입니다.</span>
                            </td>
                        </tr>
                        <tr>
                            <td>상품 상세정보</td>
                            <td>
                                <input type="file" name="file4">
                                <span>크기 가로 940x 높이 제약없음 크기 최대 1MB</span>
                            </td>
                        </tr>
                    </table>
                </section>
                <section  class="register_law_section">
                    <nav>
                        <h4>품질정보 제공고시</h4>
                        <p>
                            [전자상거래에 관한 상품정보 제공에 관한 고시] 항목에 의거하여 등록해야하는 정보입니다.
                        </p>
                    </nav>
                    <table>
                        <tr>
                            <td>상품상태</td>
                            <td>
                                <input type="text" name="status" placeholder="새상품" value="새상품">
                            </td>
                        </tr>
                        <tr>
                            <td>부가세 면세여부</td>
                            <td>
                                <input type="text" name="duty" placeholder="과세상품" value="과세상품">
                            </td>
                        </tr>
                        <tr>
                            <td>영수증 발행</td>
                            <td>
                                <input type="text" name="receipt" placeholder="발행가능-신용카드 전표, 온라인 현금영수증" value="발행가능-신용카드 전표, 온라인 현금영수증">
                            </td>
                        </tr>
                        <tr>
                            <td>사업자 구분</td>
                            <td>
                                <input type="text" name="bizType" placeholder="사업자 구분을 입력" value="사업자 판매자">
                            </td>
                        </tr>
                        <tr>
                            <td>원산지</td>
                            <td>
                                <input type="text" name="origin" placeholder="원산지를 입력" value="상세 페이지 참조">
                            </td>
                        </tr>
                    </table>
                </section>
                <input type="submit" value="등록하기">
            </form>
        </article>
        <p class="Warning">
            Warning! 전자상거래 등에서의 상품 등의 정보제공에 관한 고시에 따라 총 35개 상품군에 대해 상품 특성 등을 양식에 따라 입력할 수 있습니다.
        </p>
    </section>
</main>
<th:block th:include="@{admin/_footer.html}"/>