<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>수취확인</title>
    <link rel="stylesheet" th:href="@{/css/popup_style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="./css/star-rating-svg.css">
	<script type="text/javascript">
		$(function(){
			$('.btnConfirm').click(function(){
				let ordNO = $(this).val();
				console.log(ordNO);
				$.ajax({
					url : '/Kmarket/my/confirm/'+ordNO,
					method : 'POST',
					dataType : 'JSON',
					success : function(data){
						alert('수취확인이 완료되었습니다.');
						opener.location.reload();
						window.close();
					}
				});
			});
			$('.btnCancel').click(function(){
				window.close();
			});
		});
	</script>
</head>
<body>
    <div id="wrapper">
        <!-- 수취확인 팝업 -->
        <div id="popReceive" class="popup">
            <div>
                <nav>
                    <h1>수취확인</h1>
                    <button class="btnClose">X</button>
                </nav>
                <section>                    
                    <p>
                        상품을 잘 받으셨나요?<br>
                        상품을 받으셨으면 수취확인을 눌러 구매확정을 진행하세요.<br>
                        구매확정 후 포인트를 지급해 드립니다.
                    </p>

                    <div>
                        <button class="btnPositive btnConfirm" th:value="${ordNO}">확인</button>
                        <button class="btnNegative btnCancel">취소</button>
                    </div>                    
                </section>                    
            </div>
        </div>
        <!-- 수취확인 팝업 끝 -->
    </div>

</body>
</html>