<th:block th:include="/admin/_header.html"/>
<article  class="article_view">
    <nav>
        <h3>
            자주묻는질문 보기
        </h3>
        <p>
            HOME > 고객센터 > <Strong> 자주묻는질문 </Strong>
        </p>
    </nav>
    <section>
        <table>
            <tr>
                <td>유형</td>
                <td>회원-가입</td>
            </tr>
            <tr>
                <td>제목</td>
                <td>개인 회원과 법인 회원에 차이가 있나요?</td>
            </tr>
            <tr>
                <td>내용</td>
                <td>
                    <span>
                        알려주세용<br/>
                    </span>
                <td>
            </tr>
        </table>
        <div class="view_button">
            <a href=""><input type="button" value="삭제"></a>
            <a href=""><input type="button" value="수정"></a>
            <a href=""><input type="button" value="목록"></a>
        </div>
    </section>
</article>
</main>
<th:block th:include="/admin/_footer.html"/>