<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Cs Faq modify</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>    
    <script src="./js/gnb.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/Admin/css/admin_css.css">
</head>
<body>
    <div id="wrapper">
        <header>
            <div>
                <a href="./index.html" class="logo">
                    <img src="/Admin/img/admin_logo.png" alt="admin_logo">
                </a>
                <p>
                    <span>홍길동님 반갑습니다.</span> 
                    <a href="#">HOME |</a>
                    <a href="#">로그아웃 |</a>
                    <a href="#">고객센터 |</a>
                 </p>
            </div>
        </header>
        <main>
            <aside>
                <ul id="gnb">
                    <li>
                        <a href="#"><i class="fa fa-cogs" aria-hidden="true"></i>환경설정</a>
                        <ol>
                            <li><a href="#">기본환경설정</a></li>
                            <li><a href="#">배너관리</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-store" aria-hidden="true"></i>상점관리</a>
                        <ol>
                            <li><a href="#">판매자현황</a></li>
                            <li><a href="#">재고관리</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-users" aria-hidden="true"></i>회원관리</a>
                        <ol>
                            <li><a href="#">회원현황</a></li>
                            <li><a href="#">포인트관리</a></li>
                            <li><a href="#">비회원관리</a></li>
                            <li><a href="#">접속자집계</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-box-open" aria-hidden="true"></i>상품관리</a>
                        <ol>
                            <li><a href="#">상품현황</a></li>
                            <li><a href="#">상품등록</a></li>
                            <li><a href="#">재고관리</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-credit-card" aria-hidden="true"></i>주문관리</a>
                        <ol>
                            <li><a href="#">주문현황</a></li>
                            <li><a href="#">매출현황</a></li>
                            <li><a href="#">결제관리</a></li>
                            <li><a href="#">배송관리</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>고객센터</a>
                        <ol class="on">
                            <li><a href="#">공지사항</a></li>
                            <li><a href="#" class="on">자주묻는질문</a></li>
                            <li><a href="#">문의하기</a></li>
                        </ol>
                    </li>
                </ul>
            </aside>
            <article class="article_modify">
                <nav>
                    <h3>
                        공지사항 수정
                    </h3>
                    <p>
                        HOME > 고객센터 > <Strong> 공지사항 </Strong>
                    </p>
                </nav>
                <section>
                    <form action="#">
                        <table>
                            <tr>
                                <td>유형</td>
                                <td>
                                    <select>
                                        <option value="">유형선택</option>
                                        <option value="" selected>회원</option>
                                        <option value="">유형선택113</option>
                                        <option value="">유형선택23232323</option>
                                    </select>
                                    <select>
                                        <option value="">유형선택</option>
                                        <option value="" selected>가입</option>
                                        <option value="">유형선택113</option>
                                        <option value="">유형선택23232323</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>제목</td>
                                <td>
                                    <input type="text" placeholder="제목을 입력합니다." value="여기는 제목입니다">
                                </td>
                            </tr>
                            <tr>
                                <td>내용</td>
                                <td>
                                    <textarea cols="30" rows="10" placeholder="내용을 입력합니다.">사기당했어요 도와주세요</textarea>
                                </td>
                            </tr>
                        </table>
                        <div class="modify_button">
                            <a href=""><input type="button" value="취소하기"></a>
                            <a href=""><input type="submit" value="수정하기"></a>
                        </div>
                    </form>
                </section>
            </article>
        </main>
        <footer>
            <div>
                <p>
                    Copyright ©kmarket.co.kr All rights reserved. KMARKET ADMINISTRATOR Version 5.4.1.2
                </p>
            </div>
        </footer>
    </div>
</body>
</html>