<th:block th:include="/admin/_header.html"/>
<article class="article_list">
    <nav>
        <h3>자주묻는질문 목록</h3>
        <p>
            HOME > 고객센터 > <strong>자주하는질문</strong>
        </p>
    </nav>
    <section>
        <select name="" id="" style="margin-right: 5px;">
            <option value="">1차 선택</option>
            <option value="" selected>서비스</option>
            <option value="">유형2</option>
            <option value="">유형3</option>
        </select>
        <select name="" id="">
            <option value="">2차 선택</option>
            <option value="">유형1</option>
            <option value="">유형2</option>
            <option value="">유형3</option>
        </select>
        <table border="0">
            <tr>
                <th><input type="checkbox"></th>
                <th>번호</th>
                <th>유형</th>
                <th>제목</th>
                <th>조회</th>
                <th>날짜</th>
                <th>관리</th>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>100</td>
                <td>고객서비스</td>
                <td><a href="">[안내]해외결제 사칭 문자 주의</a></td>
                <td>120</td>
                <td>2023/02/08</td>
                <td>
                    <a href="" style="display: block;">[수정]</a>
                    <a href="">[삭제]</a>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>100</td>
                <td>고객서비스</td>
                <td><a href="">[안내]해외결제 사칭 문자 주의</a></td>
                <td>120</td>
                <td>2023/02/08</td>
                <td>
                    <a href="" style="display: block;">[수정]</a>
                    <a href="">[삭제]</a>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>100</td>
                <td>고객서비스</td>
                <td><a href="">[안내]해외결제 사칭 문자 주의</a></td>
                <td>120</td>
                <td>2023/02/08</td>
                <td>
                    <a href="" style="display: block;">[수정]</a>
                    <a href="">[삭제]</a>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>100</td>
                <td>고객서비스</td>
                <td><a href="">[안내]해외결제 사칭 문자 주의</a></td>
                <td>120</td>
                <td>2023/02/08</td>
                <td>
                    <a href="" style="display: block;">[수정]</a>
                    <a href="">[삭제]</a>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>100</td>
                <td>고객서비스</td>
                <td><a href="">[안내]해외결제 사칭 문자 주의</a></td>
                <td>120</td>
                <td>2023/02/08</td>
                <td>
                    <a href="" style="display: block;">[수정]</a>
                    <a href="">[삭제]</a>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>100</td>
                <td>고객서비스</td>
                <td><a href="">[안내]해외결제 사칭 문자 주의</a></td>
                <td>120</td>
                <td>2023/02/08</td>
                <td>
                    <a href="" style="display: block;">[수정]</a>
                    <a href="">[삭제]</a>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>100</td>
                <td>고객서비스</td>
                <td><a href="">[안내]해외결제 사칭 문자 주의</a></td>
                <td>120</td>
                <td>2023/02/08</td>
                <td>
                    <a href="" style="display: block;">[수정]</a>
                    <a href="">[삭제]</a>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>100</td>
                <td>고객서비스</td>
                <td><a href="">[안내]해외결제 사칭 문자 주의</a></td>
                <td>120</td>
                <td>2023/02/08</td>
                <td>
                    <a href="" style="display: block;">[수정]</a>
                    <a href="">[삭제]</a>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>100</td>
                <td>고객서비스</td>
                <td><a href="">[안내]해외결제 사칭 문자 주의</a></td>
                <td>120</td>
                <td>2023/02/08</td>
                <td>
                    <a href="" style="display: block;">[수정]</a>
                    <a href="">[삭제]</a>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>100</td>
                <td>고객서비스</td>
                <td><a href="">[안내]해외결제 사칭 문자 주의</a></td>
                <td>120</td>
                <td>2023/02/08</td>
                <td>
                    <a href="" style="display: block;">[수정]</a>
                    <a href="">[삭제]</a>
                </td>
            </tr>
        </table>
        <div class="button">
            <a href=""><input type="button" value="선택삭제"></a>
            <a href=""><input type="button" value="등록하기"></a>
        </div>
        <div class="page">
            <a href="">이전</a>
            <a href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">다음</a>
        </div>
    </section>
</article>
</main>
<th:block th:include="/admin/_footer.html"/>