<th:block th:include="@{product/_header.html}"/>
<th:block th:include="@{product/_aside.html}"/>
<script th:inline="javascript">
//총 주문정보 입력
function setTotalInfo(){

	let totalPrice = 0;				// 상품금액
	let totalCount = 0;				// 상품수
	let totalDisPrice = 0;			// 총 할인금액
	let totalPoint = 0;				// 적립 포인트
	let deliveryPrice = 0;			// 배송비
	let finalTotalPrice = 0; 		// 전체주문금액(상품금액 + 배송비 - 할인금액)

	$(".cartInfo").each(function(index, element){
		//체크가 되었다면
		if($(element).find(".cartCheck").is(":checked")===true){
			//상품금액
			totalPrice += parseInt($(element).find(".totalPrice").val()*$(element).find(".totalCount").val());
			//상품수
			totalCount += parseInt($(element).find(".totalCount").val());
			//총 할인금액
			totalDisPrice += parseInt($(element).find(".totalDisPrice").val());
			//적립포인트
			totalPoint += parseInt($(element).find(".totalPoint").val()*$(element).find(".totalCount").val());
			//총 배송비
			deliveryPrice += parseInt($(element).find(".deliveryPrice").val());
			finalTotalPrice += parseInt($(element).find(".finalTotalPrice").val());
		}
	});
	
	//상품금액
	$(".totalPrice_td").text(totalPrice.toLocaleString());
	//상품수
	$(".totalCount_td").text(totalCount);
	//총 할인금액
	$(".totalDisPrice_td").text('- '+totalDisPrice.toLocaleString());
	//적립 포인트
	$(".totalPoint_td").text(totalPoint);
	//배송비
	$(".deliveryPrice_td").text(deliveryPrice.toLocaleString());
	//전체주문금액
	$(".finalTotalPrice_td").text(finalTotalPrice.toLocaleString()+'원');
	
}

$(document).ready(function(){
	setTotalInfo();
	
	//선택체크
	$(".cartCheck").on("change", function(){
		setTotalInfo($(".cartInfo"));
	});

	//전체체크
	$(".allCheck").on("click",function(){
		if($(".allCheck").prop("checked")){
			$(".cartCheck").attr("checked", true);	
		}else{
			$(".cartCheck").attr("checked", false);	
		}
		
		setTotalInfo($(".cartInfo"));
	})
	
	
	//주문하기 버튼
	$(".order").on("click",function(){
		
		let uid = [[${#authentication.name}]];
		
		//컨트롤러로 넘길 장바구니 번호 리스트
		var checkBoxArr = [];
		
		$("input:checkbox[name='rowCheck']:checked").each(function(){
			checkBoxArr.push($(this).val());
			
		});
		console.log(checkBoxArr);
		
		let ans = confirm("주문하시겠습니까?");
		
		if(ans){
			/*$.ajax({
				url:'/Kmarket/product/order',
				type:'post',
				data:checkBoxArr,
				success:function(data){
					console.log(data);
					
				}
			});*/
			location.href="/Kmarket/product/order?uid="+uid;
		}
		
	});
	
	//장바구니 삭제
	$(".cartDelete").on("click",function(){
		
		var checkBoxArr = new Array();
		
		$("input:checkbox[name='rowCheck']:checked").each(function(){
			checkBoxArr.push($(this).val());
			
		});
		
		if(checkBoxArr.length == 0){
			alert("선택된 글이 없습니다.");
		}else{
			$.ajax({
				url:'/Kmarket/product/cart/delete',
				type:'post',
				data:{'checkBoxArr':checkBoxArr},
				success:function(data){
					console.log("data : ", data);
				}	
			});
		}
	});
	
});
</script>
    <!-- 장바구니 페이지 시작 -->
    <section class="cart">
        <!-- 제목, 페이지 내비게이션-->
        <nav>
            <h1>장바구니</h1>
            <p>
                HOME > 
                <span th:if="${arg0} == '11'">패션·의류·뷰티</span>
	            <span th:if="${arg0} == '15'">가전·디지털</span>
	            <span th:if="${arg0} == '13'">식품·생필품</span>
	            <span th:if="${arg0} == '14'">홈·문구·취미</span>
                 > <strong>장바구니</strong>
            </p>
        </nav>
            <!-- 장바구니 목록 -->
            <table>
                <tr>
                    <th><input type="checkbox" name="all" class="allCheck" checked="checked"></th>
                    <th>상품명</th>
                    <th>총수량</th>
                    <th>판매가</th>
                    <th>할인</th>
                    <th>포인트</th>
                    <th>배송비</th>
                    <th>소계</th>
                </tr>
                <tr class="empty" th:if="${carts} == null">
                    <td colspan="7">장바구니에 상품이 없습니다.</td>
                </tr>
                <tr th:each="cart:${carts}">
                    <td class="cartInfo">
                    	<input type="checkbox" class="cartCheck" name="rowCheck" checked="checked" th:value="${cart.cartNo}">
                    	<input type="hidden" class="totalCount" th:value="${cart.count}">
                    	<input type="hidden" class="totalPoint" th:value="${cart.point}">
                    	<input type="hidden" class="totalPrice" th:value="${cart.price}">
                    	<input type="hidden" class="totalDisPrice" th:value="${cart.disPrice}">
                    	<input type="hidden" class="deliveryPrice" th:value="${cart.delivery}">
                    	<input type="hidden" class="finalTotalPrice" th:value="${cart.total}">
                    </td>
                    <td>
                        <article>
                            <a href="#"><img th:src="@{/image/}+${cart.thumb1}" alt=""></a>
                            <div>
                                <h2><a th:href="@{view(arg0=${arg0},arg1=${arg1},param1=${cart.prodNo})}">[[${cart.prodName}]]</a></h2>
                                <p>[[${cart.descript}]]</p>
                            </div>
                        </article>
                    </td>
                    <td>[[${cart.count}]]</td>
                    <td data-th-text="${#numbers.formatInteger(cart.price, 3, 'COMMA')}"></td>
                    <td>[[${cart.discount}]]%</td>
                    <td>[[${cart.point}]]</td>
                    <td th:if="${cart.delivery} != '0'" th:text="${cart.delivery}">무료배송</td>
                    <td th:unless="${cart.delivery} != '0'">무료배송</td>
                    <td data-th-text="${#numbers.formatInteger(cart.total, 3, 'COMMA')}+원"></td>
                </tr>
            </table>
            <input type="button" name="del" value="선택삭제" class="cartDelete">

            <!-- 장바구니 전체합계-->
            <div class="total">
                <h2>전체합계</h2>
                <table border="0">
                    <tr>
                        <td>상품수</td>
                        <td class="totalCount_td">1</td>
                    </tr>
                    <tr>
                        <td>상품금액</td>
                        <td  class="totalPrice_td"><span></span></td>
                    </tr>
                    <tr>
                        <td>할인금액</td>
                        <td class="totalDisPrice_td">-1000</td>
                    </tr>
                    <tr>
                        <td>배송비</td>
                        <td class="deliveryPrice_td">0</td>
                    </tr>
                    <tr>
                        <td>포인트</td>
                        <td class="totalPoint_td">260</td>
                    </tr>
                    <tr>
                        <td>전체주문금액</td>
                        <td class="finalTotalPrice_td">26,000</td>
                    </tr>
                </table>
                <input type="submit" class="order" value="주문하기">
            </div>
    </section>
    <!-- 장바구니 페이지 끝-->
</main>
<th:block th:include="@{product/_footer.html}"/>