<th:block th:include="@{product/_header.html}"/>
<th:block th:include="@{product/_aside.html}"/>
<script th:inline="javascript">
/*$(document).ready(function(){
	$.ajax({
		url:'Kmarket/product/order',
		type:'post',
		datatype:"json",
		success:function(data){
			alert(1);
			
		}
	});
});*/
$(document).ready(function(){
	
	//선택체크
	$(".orderCheck").on("change", function(){
	});

	//전체체크
	$(".allCheck").on("click",function(){
		if($(".allCheck").prop("checked")){
			$(".orderCheck").attr("checked", true);	
		}else{
			$(".orderCheck").attr("checked", false);	
		}
		
	})

});
</script>
    <!-- 주문 페이지 시작-->
    <section id="order">
        <!-- 제목, 페이지 내비게이션-->
        <nav>
            <h1>주문결제</h1>
            <p>
                HOME > 장바구니 ><strong>주문결제</strong>
            </p>
        </nav>
        <form th:action="@{/product/order}">
            <!-- 주문 상품 목록-->
            <th:block th:if="${product} != null">
            <table>
                <tr>
                    <th><input type="checkbox" name="all" class="allCheck" checked="checked"></th>
                    <th>상품명</th>
                    <th>총수량</th>
                    <th>판매가</th>
                    <th>할인</th>
                    <th>포인트</th>
                    <th>배송비</th>
                    <th>소계</th>
                </tr>
                <tr class="empty">
                    <td colspan="7">장바구니에 상품이 없습니다.</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="" class="orderCheck" checked="checked"></td>
                    <td>
                        <article>
                            <a href="#"><img th:src="@{/image/}+${product.thumb1}" alt=""></a>
                            <div>
                                <h2><a th:href="@{view(param1=${product.prodNo})}">[[${product.prodName}]]</a></h2>
                                <p>[[${product.descript}]]</p>
                            </div>
                        </article>
                    </td>
                    <td>[[${count}]]</td>
                    <td data-th-text="${#numbers.formatInteger(product.price, 3, 'COMMA')}"></td>
                    <td>[[${product.discount}]]%</td>
                    <td>[[${product.point}]]</td>
                    <td th:if="${product.delivery == '0'}">무료배송</td>
                    <td th:unless="${product.delivery == '0'}">[[${product.delivery}]]</td>
                    <td class="total">[[${product.price *(100-product.discount)/100}*${count}]]</td>
                </tr>
            </table>

            <!-- 최종 결제 정보-->
            <div class="final">
                <h2>최종결제 정보</h2>
                <table border="0">
                    <tr>
                        <td>상품수</td>
                        <td>[[${count}]]</td>
                    </tr>
                    <tr>
                        <td>상품금액</td>
                        <td data-th-text="${#numbers.formatInteger(product.price, 3, 'COMMA')}">[[${product.price}]]</td>
                    </tr>
                    <tr>
                        <td>할인금액</td>
                        <td th:if="${product.discount !='0'}" th:text="-${product.price *product.discount/100}">0</td>
                    </tr>
                    <tr>
                        <td>배송비</td>
                        <td>[[${product.delivery}]]</td>
                    </tr>
                    <tr>
                        <td>포인트</td>
                        <td th:text="${product.point}*${count}"></td>
                    </tr>
                    <tr>
                        <td>전체주문금액</td>
                        <td th:text="${product.price *(100-product.discount)/100}+'원'"></td>
                    </tr>
                </table>
                </th:block>
            <th:block th:each="cart:${carts}" th:unless="${product} != null">
            <table>
                <tr>
                    <th><input type="checkbox" name="all"></th>
                    <th>상품명</th>
                    <th>총수량</th>
                    <th>판매가</th>
                    <th>할인</th>
                    <th>포인트</th>
                    <th>배송비</th>
                    <th>소계</th>
                </tr>
                <tr class="empty">
                    <td colspan="7">장바구니에 상품이 없습니다.</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name=""></td>
                    <td>
                        <article>
                            <a href="#"><img th:src="@{/image/}+${cart.thumb1}" alt=""></a>
                            <div>
                                <h2><a href="#">[[${cart.prodName}]]</a></h2>
                                <p>[[${cart.descript}]]</p>
                            </div>
                        </article>
                    </td>
                    <td>[[${cart.count}]]</td>
                    <td>[[${cart.price}]]</td>
                    <td>[[${cart.discount}]]%</td>
                    <td>[[${cart.point}]]</td>
                    <td th:if="${cart.delivery == '0'}">무료배송</td>
                    <td th:unless="${cart.delivery == '0'}">[[${cart.delivery}]]</td>
                    <td class="total">[[${cart.total}]]</td>
                </tr>
            </table>

            <!-- 최종 결제 정보-->
            <div class="final">
                <h2>최종결제 정보</h2>
                <table border="0">
                    <tr>
                        <td>상품수</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>상품금액</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>할인금액</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>배송비</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>포인트</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>전체주문금액</td>
                        <td></td>
                    </tr>
                </table>
                </th:block>
                <input type="button" value="결제하기" class="cartorder">
            </div>

            <!-- 배송정보-->
            <article class="delivery">
                <h1>배송정보</h1>
                <table>
                    <tr>
                        <td>주문자</td>
                        <td><input type="text" name="order" th:value="${user.name}"></td>
                    </tr>
                    <tr>
                        <td>휴대폰</td>
                        <td>
                            <input type="text" name="hp" th:value="${user.hp}">
                            <span>- 포함 입력</span>
                        </td>
                    </tr>
                    <tr>
                        <td>우편번호</td>
                        <td><input type="text" name="zip" th:value="${user.zip}"></td>
                        <td><input type="button" value="검색"></td>
                    </tr>
                    <tr>
                        <td>기본주소</td>
                        <td><input type="text" name="addr1" th:value="${user.addr1}"></td>
                    </tr>
                    <tr>
                        <td>상세주소</td>
                        <td><input type="text" name="addr2" th:value="${user.addr2}"></td>
                    </tr>
                </table>
            </article>

            <!-- 할인정보 -->
            <article class="discount">
                <h1>할인정보</h1>
                <div>
                    <p>현재 포인트 : <span>7200</span>점</p>
                    <label>
                        <input type="text" name="point">점
                        <input type="button" value="적용">
                    </label>
                    <span>포인트 5,000점 이상이면 현금처럼 사용 가능합니다.</span>
                </div>
            </article>

            <!-- 결제방법 -->
            <article class="payment">
                <h1>결제방법</h1>
                <div>
                    <span>신용카드</span>
                    <p>
                        <label><input type="radio" name="payment" value="type1">신용카드 결제</label>
                        <label><input type="radio" name="payment" value="type2">체크카드 결제</label>
                    </p>
                </div>
                <div>
                    <span>계좌이체</span>
                    <p>
                        <label><input type="radio" name="payment" value="type3">실시간 계좌이체</label>
                        <label><input type="radio" name="payment" value="type4">무통장 입금</label>
                    </p>
                </div>
                <div>
                    <span>기타</span>
                    <p>
                        <label><input type="radio" name="payment" value="type3">휴대폰 결제</label>
                        <label>
                            <input type="radio" name="payment" value="type4">카카오 페이
                            <img src="../img/ico_kakaopay.gif" alt="카카오 페이">
                        </label>
                    </p>
                </div>
            </article>

            <!-- 경고 -->
            <article class="alert">
                <ul>
                    <li><span>케이마켓의 모든 판매자는 안전거래를 위해 구매금액, 결제수단에 상관없이 모든거래에 대하여 케이마켓 유한책임회사의 구매안전서비스(에스크로)를 제공하고 있습니다.</span></li>
                    <li><span>케이마켓 유한책임회사의 전자금융거래법에 의해 결제대금예치업 등록번호는 02-006-00008 입니다.</span></li>
                    <li><span>등록여부는 금융감독원 홈페이지(www.fss.or.kr)의 업무자료>인허가업무안내>전자금융업등록현황에서 확인하실수 있습니다.</span></li>
                </ul>
            </article>
            </form>
    </section>
    <!-- 주문 페이지 끝-->
</main>
<th:block th:include="@{product/_footer.html}"/>