<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>케이마켓</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/css/mypage_style.css}">
</head>
<body>
    <div id="wrap">
        <th:block th:replace="mypage/_header.html  :: mypage_header"></th:block>
                    <img th:src="@{/img/myPage/my_banner2.png}" alt="배너">
                    <div>
                        <p>쿠폰</p>
                        <div class="coupon">
                            <p>고객님께서 보유하고 있는 할인쿠폰을 확인하세요! 상품구매 시 더욱 저렴하게 구매할 수 있습니다.</p>
                            <div>
                                <p>· 나의 보유쿠폰 <span><strong>[[${info.coupon}]]</strong>장</span></p>
                            </div>
                            <table>
	                            <colgroup> 
									<col width="10%">
									<col width="10%">
									<col width="20%">
									<col width="10%">
									<col width="10%">
								</colgroup> 
                                <tr>
                                    <th>쿠폰명</th>
                                    <th>할인금액</th>
                                    <th>적용기준/제한조건</th>
                                    <th>유효기간</th>
                                    <th>상태</th>
                                </tr>
                                <tr th:if="${#lists.size(vo) == 0}">
                                	<td colspan="5" align="center">보유한 쿠폰이 없습니다.</td>
                                </tr>
                                <tr th:each="coupon : ${vo}">
                                    <td>[[${coupon.couponName}]]</td>
                                    <td>[[${coupon.discount}]]</td>
                                    <td>[[${coupon.descript}]]</td>
                                    <td>[[${coupon.couponDate}]] ~ [[${coupon.endDate}]]</td>
                                    <td th:if="${coupon.expire <= 0}" class="expire">기한만료</td>
                                    <td th:unless="${coupon.expire <= 0}">사용가능</td>
                                </tr>
                            </table>
                            <ul>
                                <li>순금/골드바/돌반지/상품권 등 환금성 카테고리 및 중고상품 및 일부 프로모션 상품에는 쿠폰사용이 제한됩니다.</li>
                                <li>쿠폰 적용 가능한 금액기준은 판매자 상품별할인과 G마켓 추가할인이 모두 포함된 할인적용가입니다.</li>
                                <li>중복쿠폰은 판매자 할인, G마켓 할인과 중복적용 가능하며 하나의 상품당 한장의 중복쿠폰만 사용가능합니다.</li>
                                <li>항공 할인은 항공권 전용 할인으로 결제시점에 할인 혜택을 받을 수 있습니다.</li>
                                <li>항공권 예약취소 또는 환불시 적용했던 항공할인은 id당 1회 한하여 다시 발급됩니다.</li>
                            </ul>
                        </div>
                    </div>
            </section>
        </main>
        <th:block th:replace="mypage/_header.html  :: mypage_footer"></th:block>
    </div>
</body>
</html>
